* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background-color: #EDE057;
    /* color: #000; */
}

h1 {
    font-family: monospace, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}

h2 {
    position: relative;
    top: 13px;
    font-family: monospace, sans-serif;
    text-transform: capitalize;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar ul {
    text-align: center;
    
}

.navbar li a {
    
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin: 10px 0px;
}

.navbar li a:hover {
    color: #E43633;
    background-color: black;
    width: 50px;
    height: 50px;

}


.black-rounded-border {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 13px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 13px rgb(10, 9, 9);
    box-shadow: 5px 5px 13px rgba(0,0,0,1);
}

.padding-left {
    padding-left: 12px
}

.img-local-container {
    padding-left: 12px;
}

.img-beginnings-container {
    display: inline;
    padding-left: 30px;
    margin: 0% 2px;
}

/* .img-comienzo-1 {
    margin: 0% 10px
} */

/* mini separación de las imagenes entre si */
.pading-margin-food {
    margin: 1% 1%;
	padding: 0% 0%;
}

/* separación de la pared hacia la derecha */
.img-food-container {
    padding-left: 2%;
}

/* propiedades para los parrafos del sitio web */
p {
    line-height: 25px;
    font-size: 20px;
    font-family: sans-serif;
}


.mini-separacion {
    margin: 20px 20px;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-family: monospace, sans-serif;
}

.mapa-habemus {
    border-radius: 15px;
    display: block;
    margin: 3% 10%;
    width: 80%;
}

/************************************************************************************** 
******************Querys para dispositivos de máximo 360px de ancho *******************/
@media (max-width: 360px) {

    h1 {
        font-size: 25px;
    }

    .img-food, .mapa-habemus, .img-employeers, .img-beginnings {
        height: 300px;
        width: 280px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    p {
        width: 65vw;
        font-size: 15px;
    }

    .img-food-container {
        margin: 0px 20px 0px 0px;
        padding: 0px 20px 0px 0px;
    }
}