h1 {
    color: black;
    font-family: monospace, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

h1 span {
    border: 4px dashed black;
}

h2 {
    position: relative;
    top: 13px;
}

.header a {
    color: black;
    text-decoration: none;
    /* list-style-type: none; */
}

a:hover {
    color: #E43633;
}

.header li {
    color: black;
    opacity: 0.7;
    /* text-decoration: none; */
    list-style-type: none;
}

/* descomentar sticky y top en caso de usar la etiqueta sticky.
Comentar relative y right en caso de descomentar las 2 etiquetas anteriores  */ 
#menu {
    /* position: sticky; */
    position: relative;
    /* top: 0; */
    right: 40px;
} 

h2 {
    font-family: monospace, sans-serif;
    text-transform: capitalize;
}

h2:hover {
    padding: 0px 0px 0px 50px;
    transform: scale(1.1);
}

img:hover {
    transform: scale(1.05);
}

.mapa-habemus {
    border-radius: 15px;
    display: block;
}

.img-food, .img-employeers, .img-beginnings, .mapa-habemus {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    margin: 5px;
    -webkit-box-shadow: 5px 5px 13px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 13px rgba(0,0,0,1);
    box-shadow: 5px 5px 13px rgba(0,0,0,1);
}

/* práctica de variables con
###################################
## Declaración de variables CSS ###

:root {
    --gray-background-color: gray;
}

.paragraph-beginnings, .paragraph-employeers {
    background-color: var(--gray-background-color);
} */


body {
    background-color: #f6e58d;
}

.pading-and-margin {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 50px;
}

.img-beginnings-container {
    padding-left: 20px;
}

p {
    line-height: 25px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

iframe {
    display: block;
}