body {
    background-color: #F4EE89;
}

h1 {
    color: black;
    font-family: monospace, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

h2 {
    position: relative;
    top: 13px;
    font-family: monospace, sans-serif;
    text-transform: capitalize;
}

.header a {
    color: black;
    text-decoration: none;
    /* list-style-type: none; */
    opacity: 0.7;
}

a:hover {
    color: #E43633;
}

/* descomentar sticky y top en caso de usar la etiqueta sticky.
Comentar relative y right en caso de descomentar las 2 etiquetas anteriores  */ 
#menu {
    /* position: sticky; */
    position: relative;
    /* top: 0; */
    right: 40px;
} 

h2:hover {
    padding: 0px 0px 0px 50px;
    transform: scale(1.1);
}

img:hover {
    transform: scale(1.05);
}

.mapa-habemus {
    border-radius: 15px;
    display: block;
}

.img-food, .img-employeers, .img-beginnings, .mapa-habemus {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    margin: 5px;
    -webkit-box-shadow: 5px 5px 13px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 13px rgba(0,0,0,1);
    box-shadow: 5px 5px 13px rgba(0,0,0,1);
}


.pading-and-margin {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 50px;
}

.img-beginnings-container {
    padding-left: 20px;
}

p {
    line-height: 25px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

iframe {
    display: block;
}

@media (max-width: 360px) {

    h1 {
        font-size: 25px;
    }

    .img-food, .mapa-habemus, .img-employeers, .img-beginnings {
        height: 300px;
        width: 280px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    /* img {
        max-width: 100%;
        display: block;
        height: auto;
      } */
      
}