h1 {
    font-family: monospace, sans-serif;
    text-align: center;
}

.header a {
    color: black;
    text-decoration: none;
}

h2 {
    font-family: monospace, sans-serif;
}

.img-food, .img-employeers, .img-beginnings {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    /* padding: 10px; */
    margin: 5px;
}

body {
    background-color: yellow;
}

.img-food-container {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 50px;
}

.img-beginnings-container {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
}